.button{
    height: 150px;
    width: 150px;
    background-color: #dcdcdc;
    font-size: 100px;
    text-align: center;
}

.center {
    margin: 0px auto;
}

.new_game_button {
    margin: 0px 42.5%;
    background-color: grey;
    color: greenyellow;
    height: 30px;
    width: 15%;
    font-weight: bold;
}