header {
    background-color: yellowgreen;
    
    //margin-right: -10px; Rand rechts weg?
}
footer {    
    position: fixed;
    height: 25px;
    bottom: 0px;
    margin-left: -10px;
    background-color: grey;
    width: 100%;
}

footer div {
    width: 10%;
    margin: 3px 45% 0px 45%;
}

footer a {
    text-decoration: none;
    color: greenyellow;
}

.menu {
    float: left;
    height: 30px;
    width: 20%;
    margin: 10px 2.5%;
    background-color: grey;
    color: greenyellow;
    font-weight: bold
}

.header {
    height: 50px;
}

/*#start {
   margin-left: 50%;
   margin-right: 50%;
}

#logout {
   margin-left: 50%;
   margin-right: 50%;
}*/